.cssAni1 {
    border: solid 1px black;
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
}

.cssAni1 img {
    width: 100%;
    transition: all 0.4s;
}

.imgScale img {
    transform: scale(1.5);
}

.box {
    width: 300px;
    height: 200px;
    background-color: #454545;
    color: white;
}

a {
    text-decoration: underline;
    color: rgb(21, 148, 148);
}

a:hover {
    text-decoration: none;
}

.ttpShow {
    display: none;
}

#ttpPanel {
    display: none;
    padding: 15px;
    /* width: 200px; */
    text-align: left;
    border: 3px solid rgb(21, 148, 148);
    position: absolute;
    z-index: 99;
    background-color: #fff;
}